{% extends "default.html" %}

{% block title %} Hospitales {% endblock %}

{% block content %}
            <div class="col-sm-9">
                <h3><small>HOSPITALES</small></h3>
                <hr>
                <h1>Actualizar Numero Pacientes</h1> <br>
                <form action="{{ url_for('update_hospital') }}" method="post">
                    <select name="hospital_id" required>
                        {% for hospital in hospitales %}
                            <option value="{{ hospital.id }}">{{ hospital.nombre }}</option>
                        {% endfor %}
                    </select>
                    <input type="int" name="nuevo_numero_pacientes" placeholder="Nuevo numero" required>
                    <input type="submit" value="Actualizar">
                </form>
                <h1>Numero de pacientes actualizado</h1>
            </div>
        </div>
    </div>
{% endblock %}