{% extends "default.html" %}

{% block title %} Hospitales {% endblock %}

{% block content %}
  <div class="col-sm-9">
    <h3><small>HOSPITALES</small></h3>
    <hr>
    <h1>HOSPITALES</h1> <br>
    <h4>
    {% if hospitales %}
        {% for hospital in hospitales %}
            {{hospital.nombre}}<br><br>
        {% endfor %}
    {% else %}
    </h4>
        <h1>No hay HOSPITALES</h1>
    {% endif %}
    <form action="{{ url_for('numero_pacientes') }}" method="post">
        <input type="text" name="numero_pacientes" placeholder="NUMERO PACIENTES">
        <input type="submit" value="Ver">
    </form>
{% endblock %}